*{
  box-sizing:border-box;
  }

body{
  margin:0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:1rem;
  font-weight:normal;
  line-height:1.5;
  overflow-x:hidden;
}

.video-header{
  height:100vh;
  display:flex;
  align-items:center;
  color:#fff;
}

.container{
  max-width:960px;
  padding-left:1rem;
  padding-right:1rem;
  margin:auto;
  text-align:center;
}

.fullscreen-video-wrap{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  overflow:hidden;
}

.fullscreen-video-wrap video{
  min-width: 100%;
  min-height: 100%;
}

/*img{
  z-index:0;
  width:100%
  height:100vh;
  overflow:hidden;
}*/

.header-overlay{
  height:100vh;
  width:100vw;
  position:absolute;
  top:0;
  left: 0;
  background:#225470;
  z-index:1;
  opacity: 0.60;
}

.header-content{
  z-index: 2;
  border: 0.5rem double white;
}

.header-content h1{
  font-size: 50px;
  margin-bottom: 0;
}

.header-content p{
  font-size: 1.5rem;
  display: block;
  padding-bottom: 2rem;
}

.nappi{
  background: #34b3a0;
  color: #fff;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  text-decoration: none;
}

.section{
  padding: 20px 0;
}

.section2{
  background:#607F96;
  color:#fff;
}

@media(max-width:960px){
  .container{
    padding-right:3rem;
    padding-left:3rem;
  }
}
