*{
  margin: 0;
  padding: 0;

}
body{
  font-family: Raleway;
  background: #fff;
  /*overflow-x:hidden;*/
}

#img_header{
  margin: 0;
  padding: 0;
  width:100vw;
  background-color: #333;
}


nav {
    font-family: "Amatic SC";
    font-size: 2rem;;
    background-color: #333;
}

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #666069;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover{
  background-color: darkgrey
}

.dropdown:hover .dropdown-content {
    display: block;
}

.active {
  background-color: #666069;
  border-width: medium;
  border-style: solid;
  border-color: #fff;
}

h1 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 2rem 0 0 0;
}

@media (min-width: 767px){

  .container{
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
    flex-wrap: wrap;
  }

}

@media (max-width: 767px){

  .container{
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
    flex-wrap: wrap;
    flex-direction: column;
  }

}


.container div{
  padding: 20px
}

.osio1{
  flex:1;
}

.osio2{
  flex:1;
}

.osio3{
  flex:1;
}

p{
  text-align: justify;
  text-justify: inter-word;
}

footer{
  text-align: center;
  padding: 20px;
  font-size: 1rem;
}

svg{
  padding: 2rem 0 0 0;
}
/* Nämä on lisätty */

.side-nav{
  height:100%;
  width:0;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color:#111;
  opacity:0.9;
  overflow-x:hidden;
  padding-top:60px;
  transition:0.5s;
  font-family: monospace;
}

.side-nav a{
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color:#ccc;
  display:block;
  transition:0.3s;
}

.side-nav a:hover{
  color:#fff;
}

.side-nav .btn-close{
  position:absolute;
  top:0;
  right:16px;
  fonst-size:36px;
  margin-left:50px;
}

.open-slide a{
  padding: 10px;
}
@media(max-width:568px){
  .navbar-nav{display:none}
}

@media(min-width:568px){
  .open-slide{display:none}
}
