*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Lora', serif;
  background: #fff;
  margin: 0;
  /*overflow-x:hidden;*/
}

#img_header{
  display: block;
  width:100%;
}

.navigointi {
  background-color: #333;
  margin: 0;
  padding: 5px 0 0 0;
}

.navigointipalkki {
    font-family: "Amatic SC";
    font-size: 1.5rem;
    background-color: #333;
    margin: 0;
}

.navigointipalkki, .alasvetovalikonsisalto{
      list-style-type: none;
      margin: 0;
      text-align: center;
      overflow: hidden;
      background-color: #333;
}

.paataso{
  float: left;
}

.paataso > a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 0 1.5rem 0 1.5rem;
    text-decoration: none;
    line-height: 3rem;
}

li .valikko:hover, .paataso:hover {
    background-color: #666069;
}

.alasvetovalikonsisalto{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.paataso:hover .alasvetovalikonsisalto {
    display: block;
}

.alasvetovalikonsisalto a {
    color: black;
    padding: 1rem 1rem 1rem 1rem;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 1.25rem;
}

.alasvetovalikonsisalto a:hover{
  background-color: darkgrey
}
.active {
  background-color: #666069;
  border-width: medium;
  border-style: solid;
  border-color: #fff;
}

h1 {
  font-family: 'Cinzel', serif;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 2.5rem 0 1.5rem 0;
}

h2 {
    font-family: 'Cinzel', serif;
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2rem;
    color: #000;
  }

h3 {
    font-family: 'Cinzel', serif;
    text-align: left;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
  }

.sivulinkit:hover{
  font-weight: bold;
}

@media (min-width: 767px){

  .container{
    display: flex;
    justify-content: space-evenly;
    padding: 0 1.5rem 0 2.5rem;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .container div{
    padding: 1.5rem;
  }

  .osio1{
    flex:1;
    order:1;
  }

  .osio2{
    flex:1;
    order:2;
  }

  .osio3{
    flex:1;
    order:3;
  }

}

@media (max-width: 767px){
/* Laitettu piiloon, koska IE:ssä on flex column bugi, korvataan myöhemmin kauniimmalla ratkaisulla
  .container{
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
    flex-wrap: wrap;
    flex-direction: column;
  }
*/

.container{
  width: 92vw;
  margin: auto;
}

.osio1{
  padding:1rem;
}

.osio2{
  padding:1rem;
}

.osio3{
  padding:1rem;
}
}


p{
  text-align: justify;
  text-justify: inter-word;
}

footer{
  text-align: center;
  padding: 20px;
  font-size: 0.72rem;
}



/* Sivu-palkki */

/*TEE VIELÄ: Sivupalkkiin onclick-avautuvat/sulkeutuvat linkit, nuolet/plusmiinus*/

.sivu-navi{
  height:100%;
  width:0;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color:#111;
  opacity:0.9;
  overflow-x:hidden;
  padding-top:60px;
  transition:0.5s;
}

.sivu-navi a, h3{
  padding: 0px 10px 10px 30px;
  text-align: left;
  text-decoration: none;
  font-size: 1rem;
  color:#ccc;
  display:block;
  transition:0.3s;
}

.sivu-navi a:hover{
  color:#fff;
}

.sivu-navi .btn-close{
  position:absolute;
  top:0;
  right:16px;
  font-size:36px;
  margin-left:50px;
}

.menuikoni a{
  padding: 10px;
}
@media(max-width:568px){
  .navigointipalkki{display:none}
}

@media(min-width:568px){
  .menuikoni{display:none}
}
