body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}

h1{
  display: block;
  width: 72%;
  text-align: right;
}

.catBox {
  margin: 0 auto;
  width: 95%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  align-content: center;
}

#sideCatBox {
  width: 15%;
  border: 2px solid #333
}

#mainCatBox {
  height: 50rem;
  width: 80%;
}

#mainCatBox img {
  border: 2px solid #333;
  width: 400px;
  margin-top: 5rem;
}

.catName{
padding-top: 1rem;

}

img {
  border-radius: 10px;
}

.clickable {
  cursor: pointer;
}

.counter {
  margin: 0.25rem auto;
  padding: 1rem;
  width: 3rem;
  border: solid 2px #333;
  text-align: center;
}
