body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*TODO: maybe change the bg-color.*/
  background-color: #364652;
  font-family: 'Montserrat', sans-serif;
}

/* HEADER */
header {
  width: 100%;
  text-align: center;
  align-items: center;
  color: #fff;
  background-color: #4682b4;
  text-transform: uppercase;
}

  h1 {
    width:100%;
    margin: 0;
    padding: 1.5rem 0;
    line-height: 1.25rem;
    font-weight: normal;
    text-transform: uppercase;
  }

  .info {
    display: inline-block;
    width: 3rem;
  }

  #starsCounter {
    display: inline-block;
    width: 4rem;
  }


  /* Button general element, eventhough there is a button in header, these styles are for all buttons. */
  button {
    font-family: 'Montserrat', sans-serif;
    border: solid 2px #fff;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: #4682b4;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.2rem;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
  }

  button:hover {
    background-color: #fff;
    color: #4682b4;
    cursor: pointer;
  }

  /* When button is clicked. */
  button:active {
    border: solid 2px #fff;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: #4682b4;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.2rem;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
  }

/* THE GAME */
#game-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  align-content: center;
  margin: 1rem auto;
  width: 95%;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  border-radius: 5px;
}

  /* CARDS */
  .card-container {
    /* User select none, to stop "flicker" in iPhone*/
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    font-size: 0.75rem;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 5px solid #fff;
    height: 150px; /*was 150*/
    width: 150px; /*was 150*/
    background-color: #fff;
    color: #333;
    margin: 1rem;
  }

    /* To use z-index, element has to be positioned. Element with higher z-index has higher stack index.*/
    .card {
      position: absolute;
      text-align: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: #a1b5d8;
      margin: 0;
    }

      .card + img {
        width: 150px;
        heigh: 150px;
      }
      /* Card's classes that have z-index*/
      .unselected {
        z-index: 50;
        cursor: pointer;
      }

      .selected {
        z-index: -1;
      }

      .paired {
        font-size: 1.5rem;
        text-align: center;
        line-height: 9rem;
        font-weight: bold;
      }

      /*When card is paired, this will affect the image.*/
      .paired + img {
        opacity: 0.5;
      }

/* POP UP AND OVERLAY */
.popUpWindow {
  width: 80%;
  min-height: 25rem;
  border-radius: 5px;
  background: #e5e4e2;
  /* Will be shown on the top (0, 200)*/
  z-index: 200;
  /* To keep the popup fixed on the screen */
  position: fixed;
  top: 20%;
  left: 10%;
  text-align: center;
  visibility: hidden;
}

  .text {
    margin: 1rem;
  }

/* Close "button" */
  .close {
    text-align: right;
    font-size: 3rem;
    padding: 0 1rem;
  }

/* When pointer is over the x */
  .close:hover {
    font-weight: bold;
    cursor: pointer;
  }

/* Overlay that will cover the screen when the "pop up window shows up".*/
 .overlay {
   width:100%;
   height: 100vh;
   opacity: 0.65;
   top: 0px;
   left: 0px;
   position: fixed;
   z-index: 100;
   background-color: #000;
   visibility: hidden;
 }

/* This will add visibility to overlay and "pop up window"*/
 .showPopUp {
   visibility: visible;
 }

 /*Medium*/
 @media only screen and (min-width: 700px) and (max-width: 1299px)
  {
     h1 {
       padding: 0.75rem 0;
       font-size: 1.5rem;
     }

     .tools {
       font-size: 0.75rem;
       padding: 0.25rem;
     }

     button {
       font-size: 0.5rem;
       padding: 0.25rem;
       margin: 0.5rem auto;
       letter-spacing: 0.1rem;
     }

     button:hover {
       font-size: 0.5rem;
       padding: 0.25rem;
       margin: 0.5rem auto;
       letter-spacing: 0.1rem;
     }

     button:active {
       font-size: 0.5rem;
       padding: 0.25rem;
       margin: 0.5rem auto;
       letter-spacing: 0.1rem;
     }

    .info {
      width: 2.5rem;
    }

    #starsCounter {
      width: 3rem;
    }

    .card-container {
      text-transform: uppercase;
      position: relative;
      overflow: hidden;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      border: 2px solid #fff;
      height: 100px;
      width: 100px;
      background-color: #fff;
      color: #333;
      margin: 0.25rem;
    }

      /* To use z-index, element has to be positioned. Element with higher z-index has higher stack index.*/
      .card {
        position: absolute;
        text-align: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: #a1b5d8;
        margin: 0;
      }

        .card + img {
          width: 100px;
          heigh: 100px;
        }

        .paired {
          font-size: 1.25rem;
          text-align: center;
          line-height: 6rem;
          font-weight: bold;
        }

  }

 /* Mobile */
@media only screen and (max-width: 699px)

  {
    h1 {
      padding: 0.5rem 0;
      font-size: 1rem;
    }

    .tools {
      font-size: 0.5rem;
      padding: 0.25rem;
    }

    button {
      font-size: 0.5rem;
      padding: 0.25rem;
      margin: 0.5rem auto;
      letter-spacing: 0.1rem;
    }

    button:hover {
      font-size: 0.5rem;
      padding: 0.25rem;
      margin: 0.5rem auto;
      letter-spacing: 0.1rem;
    }

    button:active {
      font-size: 0.5rem;
      padding: 0.25rem;
      margin: 0.5rem auto;
      letter-spacing: 0.1rem;
    }

   .info {
     width: 2rem;
   }

   .card-container {
     text-transform: uppercase;
     position: relative;
     overflow: hidden;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
     border-radius: 5px;
     border: 2px solid #fff;
     height: 60px;
     width: 60px;
     background-color: #fff;
     color: #333;
     margin: 0.25rem;
   }

     /* To use z-index, element has to be positioned. Element with higher z-index has higher stack index.*/
     .card {
       position: absolute;
       text-align: center;
       align-items: center;
       width: 100%;
       height: 100%;
       background-color: #a1b5d8;
       margin: 0;
     }

       .card + img {
         width: 60px;
         heigh: 60px;
       }

       .paired {
         font-size: 0.75rem;
         text-align: center;
         line-height: 3.75rem;
         font-weight: bold;
       }
  }
