
body {
  margin: 0;
  background-color: #232323;
  font-family: 'Montserrat', sans-serif;
}

 .square {
   width: 30%;
   padding-bottom: 30%;
   margin: 1.66%;
   float: left;
   border-radius: 2rem;
   transition: background 0.5s;
   -webkit-transition: background 0.5s;
   -moz-transition: background 0.5s;
 }

 #container{
   margin: 2rem auto;
   max-width: 700px;
 }

h1{
  margin: 0;
  padding: 1.5rem 0;
  text-align: center;
  line-height: 1.25;
  color: #fff;
  background-color: #4682b4;
  font-weight: normal;
  text-transform: uppercase;
}

  #colorDisplay {
    font-size: 4rem;
    display: block;
  }

#message{
  display: inline-block;
  width: 20%;
}

#stripe{
  background: #fff;
  height: 30px;
  text-align: center;

}

.selected {
  background-color: #4682b4;
  color: #fff;
}

button {
  border: none;
  background: none;
  text-transform: uppercase;
  color: #4682b4;
  height: 100%;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.5s;
  outline: none;
}

button:hover {
  color: #fff;
  background-color: #4682b4;
}
